body::-webkit-scrollbar{
    width: 13px;
    
}
body::-webkit-scrollbar-track{
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background-color: #023E8A;
    border-radius: 15px;
}
.navbar{
    background-color: #023E8A;
}
.div1 {
    display: flex;
    justify-content: center;
}
.div00 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.div2 , .div3 {
    border: 5px solid #023E8A;
    padding: 10px;
    border-radius: 20px;
}
.Leader {
    display: flex;
    justify-content: center;
}

